@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    background-color: rgba(211, 211, 211, .2);
}

html {
    font-size: 10px;
}

p::first-letter,
h1::first-letter {
    text-transform: uppercase;
}